body{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
h1{
    color: palevioletred;
    text-align: center;
    border-radius: 30px;
}
p{
    color: blueviolet;
}
#one{
    color: indianred;
}
.hello{
    color: deeppink;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.goals{
    text-align: left;
    color: darkorchid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{  
    color: midnightblue;
    text-align: center;
}
#header{
    border: solid red;
    background-color: black;

    
}
#content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gray;
    width: 80%;
    margin:20px auto;
    text-align: center;
}

#cum{
    color: blanchedalmond;
    border-radius: 15px;
    text-align: center;
}
#splash{
    color: burlywood;
    border-radius: 20px;
    padding: 20px;
    border: 20px brown;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
#blaa{
    text-align: center;
    height: 250px;
    background-image: url("../pexels-minasenishino-28943346.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    color: white;

}
#gunna{
    background-color: thistle;
    padding: 10px;
    list-style-type: none;
    text-align: center;

}
#gunna ul li a:hover{
    background-color: aqua;
    margin: 10px;
}
#gunna ul li{
         display: inline;
         margin: 0 15px;
}
#gunna ul li a{
    text-decoration: none;
    color: tomato;
    font-weight: bold;
    padding: 10px;
}
#wantyou{
    font-family: monospace;
    text-align: center;
    padding: 10px;
    background-color: hotpink;
    background-image: url("../pexels-peely-730665.jpg");
}